body{
  font-family: "lato Extended", lato, "Helvetica Neue",Arial, Helvetica, sans-serif;
  overflow-x: hidden;
 }
 nav{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
nav .header ul li{
    list-style: none;
    display: inline;
    padding: 40px;
}
nav .header ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
#street{
    color: #6cb840;
}
#food{
    color: #EAAB1B;
}
.nav-bar{
    background-color: #E5E5E5;
    height: 800px;
    overflow: hidden;
}
button{
   width: 150px;
   height: 50px;
   background-color: #6cb840;
   border:none;
   text-align: center;
   color: white;
   border-radius: 20px;
   font-weight: bold;
}
.text{
   display: flex;
   justify-content: space-between;
   padding-left: 100px;
   padding-right: 100px;
   margin-top: 150px;

}
.rside{
  width: 400px;

}
.images{
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border:2px dotted #6cb840;
  position: relative;
  z-index: 2;
  margin-right: 150px;
}
#image1{
  transform: translate(-40px, 200px);
  position: relative;
  z-index: 1;
}
#image2{
  transform: translate(-73px, 30px);
}
#image3{
  transform: translate(70px, -70px);
}
#image6{
  transform: translate(550px, 90px);
}
#image5{
  transform: translate(-220px, 250px);

}
#image4{
  transform: translate(150px, 70px);
  
}
.lside{
  width: 1300px;
  height: 1300px;
  border-radius: 50%;
  background-color:#B8E79C ;
  margin-left: 600px;
  transform: translateY(-1550px);

}
.header{
  position:relative;
  z-index: 2;
}
#sectiona{
  height:850px
}
#sectionb{
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: -450px;
}
.et{
  padding-top: 400px;

}
.et h1{
  padding-top: 400px;
  color: #EAAB1B;
} 
#sectionc{
  background-color:#C9ECB5 ;
  padding: 20px;
  width: 98%;
  display:flex;
  height: 10%;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
#sectionc .menus{
  display: flex;
  flex-wrap: wrap;
}
#sectionc .column{
  width: 30%;
  display: inline-flex;
}
#sectionc img{
width: 150px;
height: 100px;
} 
#sectionc .column{
  height: 280px;
} 
#sectiond{
  background-color: #CAECB5;
  padding-top: 30px;
}
.contactus{
  background-color: #FFF5DD;
}
.burgername{
  background-color: white;
  border-radius: 0px 0px 50px 0px;
  width: 250px;
  height: 180px;
}
.block-content{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  padding: 0px 50px 0px 50px;
}
.coll-img{
  display: flex;
}
.coll-img p{
  padding: 8px;
  text-align: center;
}
.coll-img img{
  transform: translate(-50px, 20px);
}
.items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
  row-gap: 40px;
  padding-bottom: 30px;
}
.image{
  display: flex;
}
.deals-collumn{
  display: flex;
}
.image #bg-juice{
  transform: translate(-200px, 230px);
}
.texts{
  text-align: left;
}
.texts p{
  width: 300px;
}
.texts h1{
  color: #6BB946;
}
.column{
  background-color: honeydew;
  margin-left: 0px;
  margin-right: 0px;
}
.contactus{
  text-align: center;
  padding-left: 400px;
  padding-right: 400px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 50px;
  padding-bottom: 100px;
}
input[type=submit]{
   text-align: center;
  color: white;
  background-color: #6BB946;
  border: none;
 }
input[type=email]{
  width: 400px;
  height: 45px;
  border-radius: 20px;
  padding-left: 20px;
  border: none;
  background-color: white;
}
::placeholder{
  color: rgb(36, 35, 35);
}
.footer{
  margin-right: 0%;
  margin-left: 0px;
  display: flex;
  background-color: #F0FAEC;
  margin-top: 0px;
  justify-content: space-between;
}
.rows32{
  border-right: 2px dotted #6BB946;
  margin-top: 40px;
  padding-left: 20px;
  width: 200px;
}
.rows31{
  width: 450px;
  padding: 30px 20px 20px 20px;
}
.rows3{
  display: flex;
  margin-top: 20px;
  padding-top: 30px;
}
.send{
  background-color: #6BB946;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
p{
  color:#242623;
}
span .street{
  color:green
}
.sectionf{
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
}
/* #sectiond h2{
  text-align: center;
  display: flex;
  justify-content: center;
}
#sectiond img{
  width: 350px;
  display: flex;
  justify-content: left;
}
#sectiond .hdeals{
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
#sectiond{
  background-color: #649649;
  margin-top: -19px;
}
#sectione h2{
  display: flex;
  text-align: center;
  justify-content: center;
}
#sectione .cus{
display: flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;
}
#sectione .ph{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
#sectione .but{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: green;
}
#sectione{
  background-color:  #FFD77C;
  margin-top: -19px;
}
footer{
  
} */